@import url(../bower_components/bootstrap/dist/css/bootstrap.css);
@import url(../bower_components/font-awesome/css/font-awesome.css);
@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto-bold/roboto-bold-webfont.woff2") format("woff2");
  src: url("../fonts/roboto-bold/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto-light/roboto-light-webfont.woff2") format("woff2");
  src: url("../fonts/roboto-light/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular/roboto-regular-webfont.woff2") format("woff2");
  src: url("../fonts/roboto-regular/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: robotolight, sans-serif;
  font-size: 16px; }

h1 {
  font-size: 2.25em;
  margin-bottom: 15px; }

a {
  color: #0c98ef;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.pull-left {
  margin-right: 10px; }

table, tbody {
  border: 0;
  border-collapse: collapse; }

th, td {
  padding: 5px;
  border-bottom: 1px solid #dddddd; }

.form-control, .input-group-addon, .btn {
  border-radius: 0;
  border-color: #0a79be; }

.input-group-addon {
  color: white;
  background: #0a79be; }

.news-wrap {
  border-bottom: 1px solid #0a79be;
  padding-bottom: 25px; }

header {
  height: 500px;
  z-index: -999;
  color: white;
  margin-top: -50px;
  margin-bottom: 35px; }
  header .header-container {
    position: relative; }

.sidebar {
  text-align: right; }

footer {
  background: #0a79be;
  color: white;
  min-height: 80px;
  padding: 25px 0;
  margin-top: 35px; }
  footer .contact-details {
    text-align: center; }

.navbar-default {
  background: rgba(255, 255, 255, 0.7);
  z-index: 999; }

.navbar {
  margin-bottom: 0;
  border: none; }
  .navbar li.social-icons {
    font-size: 2em; }
    .navbar li.social-icons a {
      color: #3b5998;
      padding-top: 10px;
      padding-bottom: 0; }
  .navbar li a.is-active {
    background: white; }

.site_title {
  font-family: robotobold, sans-serif;
  font-size: 3em;
  position: absolute;
  left: 15px;
  top: 220px; }

.cta {
  z-index: 999;
  position: absolute;
  top: 400px;
  right: 15px; }
  .cta .btn {
    background: #efd50c;
    font-family: robotobold, sans-serif;
    font-size: 1.5em;
    padding: 25px;
    border: none; }
  .cta a {
    color: white;
    text-decoration: none; }
    .cta a:hover {
      text-decoration: none;
      color: white;
      filter: brightness(90%);
      transition: all 0.3s ease-in-out; }

.tiles-container {
  margin-top: 50px;
  margin-bottom: 85px; }

.tiles {
  height: 360px;
  width: 100%;
  background: #0a79be;
  overflow: hidden;
  color: white;
  text-align: center;
  position: relative; }
  .tiles a {
    color: white; }
  .tiles:hover img {
    transform: scale(1.5) translateY(-25px);
    transition: all 0.3s ease-in-out;
    filter: brightness(70%); }
  .tiles:hover .mask {
    background: none; }
  .tiles img {
    width: 100%;
    height: auto; }

.mask {
  height: 360px;
  width: 100%;
  background: #0a79be;
  transform: translateY(200px);
  position: absolute;
  padding: 0 10px;
  top: 0;
  left: 0; }
