@import url(../bower_components/bootstrap/dist/css/bootstrap.css);
@import url(../bower_components/font-awesome/css/font-awesome.css);
@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto-bold/roboto-bold-webfont.woff2") format("woff2");
  src: url("../fonts/roboto-bold/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto-light/roboto-light-webfont.woff2") format("woff2");
  src: url("../fonts/roboto-light/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular/roboto-regular-webfont.woff2") format("woff2");
  src: url("../fonts/roboto-regular/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: robotolight, sans-serif;
  font-size: 16px; }

h1 {
  font-size: 2.25em;
  margin-bottom: 15px; }

a {
  color: #0c98ef;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

header {
  height: 500px;
  z-index: -999;
  color: white;
  margin-top: -50px;
  margin-bottom: 35px; }
  header .site_title {
    font-family: robotobold, sans-serif;
    font-size: 3em;
    position: absolute;
    top: 25%; }

footer {
  background: #0a79be;
  color: white;
  min-height: 80px;
  padding: 25px 0;
  margin-top: 35px; }
  footer .contact-details {
    text-align: center; }

.navbar-default {
  background: rgba(255, 255, 255, 0.7);
  z-index: 999; }

.navbar {
  margin-bottom: 0;
  border: none; }
  .navbar li.social-icons {
    font-size: 2em; }
    .navbar li.social-icons a {
      color: #3b5998;
      padding-top: 10px;
      padding-bottom: 0; }

.form-control, .input-group-addon, .btn {
  border-radius: 0;
  border-color: #0a79be; }

.input-group-addon {
  color: white;
  background: #0a79be; }
