@import url(../bower_components/bootstrap/dist/css/bootstrap.css);
@import url(../bower_components/font-awesome/css/font-awesome.css);
@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto-bold/roboto-bold-webfont.woff2") format("woff2");
  src: url("../fonts/roboto-bold/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto-light/roboto-light-webfont.woff2") format("woff2");
  src: url("../fonts/roboto-light/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular/roboto-regular-webfont.woff2") format("woff2");
  src: url("../fonts/roboto-regular/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: robotolight, sans-serif;
  font-size: 16px;
  background: #f4f4f6; }

h1 {
  font-size: 2.25em;
  margin-bottom: 15px; }

a {
  color: #0c98ef;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.pull-left {
  margin-right: 10px; }

table, tbody {
  border: 0;
  border-collapse: collapse; }

th, td {
  padding: 5px;
  border-bottom: 1px solid #dddddd; }

.form_input-extend, .main-content .form-input, .form-number, .form-select {
  border: 1px solid #0a79be;
  border-radius: 0; }

.main-content .form-input {
  padding: 5px;
  width: 500px;
  display: inline-block; }

.footer_contact_form .control-label {
  width: 120px; }

.footer_contact_form .form-item .form-input {
  width: 200px; }

.footer_contact_form .form-submit {
  border: solid 1px white;
  padding: 5px 20px; }

.form-number {
  width: 300px; }

.form-select {
  padding: 4px; }

.form-item {
  width: 100%; }

.form_label-extend, .form-submit, .control-label {
  background: #0a79be;
  color: white; }

.form-submit {
  transition: color 0.5s ease; }
  .form-submit:hover {
    color: #efd50c; }

.control-label {
  padding: 6px;
  font-family: robotolight, sans-serif;
  font-weight: normal;
  display: inline-block;
  float: left;
  width: 170px; }

.adres-option .option {
  width: 500px; }

.input-radio, .input-checkbox {
  width: 45px;
  display: inline-block;
  float: left;
  margin: 10px 0 0 !important;
  cursor: pointer; }

@media screen and (max-width: 479px) {
  .control-label {
    padding: 7px;
    font-size: 0.85em;
    width: 120px; }
  .main-content .form-input {
    width: 220px; }
  .adres-option .option {
    width: 300px; } }

@media screen and (max-width: 361px) {
  .main-content .form-input {
    width: 200px; }
  .adres-option .option {
    width: 270px; } }

@media screen and (max-width: 321px) {
  .main-content .form-input {
    width: 160px; }
  .adres-option .option {
    width: 230px; }
  .input-radio {
    width: 30px; }
  .option {
    width: 100px; } }

.news-wrap-extend, .news-full-wrap, .news-wrap {
  border-bottom: 1px solid #0a79be;
  padding-bottom: 10px;
  background: white;
  margin-bottom: 25px; }

.news-full-wrap .news-body {
  padding: 15px 10px; }

.news-wrap {
  min-height: 400px; }
  .news-wrap .news-title {
    padding: 5px 10px; }
  .news-wrap .img-super-teaser img {
    width: 100%;
    height: auto;
    max-height: 200px; }
  .news-wrap .news-body {
    padding: 5px 10px; }

header {
  height: 450px;
  color: white;
  margin-bottom: 35px; }
  header .header-container {
    position: relative; }

@media screen and (max-width: 479px) {
  header {
    height: 200px; } }

.sidebar {
  text-align: right; }

footer {
  background: #0a79be;
  color: white;
  min-height: 80px;
  padding: 25px 0;
  margin-top: 35px; }
  footer .footer_contact-wrap, footer .footer_menu-wrap {
    border-right: dashed 1px white;
    min-height: 250px; }
  footer a {
    color: white;
    text-decoration: none; }
    footer a:hover {
      text-decoration: underline;
      color: white; }
  footer .contact-details {
    text-align: left; }
  footer .footer_menu-wrap {
    padding-top: 20px; }

.btn-footer {
  background: white;
  color: #0a79be;
  border: none;
  border-radius: 0;
  transition: all 0.5s ease; }
  .btn-footer:hover {
    background: #efd50c; }

@media screen and (max-width: 479px) {
  footer .footer_contact-wrap, footer .footer_menu-wrap {
    border-right: none;
    border-bottom: dashed 1px white; }
  footer .footer_menu-wrap {
    border-right: none;
    border-bottom: dashed 1px white; } }

.navbar-default {
  background: #0a79be;
  z-index: 999;
  margin-bottom: 0;
  border: none; }
  .navbar-default li.social-icons {
    font-size: 2em; }
    .navbar-default li.social-icons a {
      padding-top: 10px;
      padding-bottom: 0; }
  .navbar-default .navbar-toggle {
    border-radius: 0;
    border-color: #efd50c;
    transition: background-color 0.5s ease-in-out; }
    .navbar-default .navbar-toggle:hover {
      background-color: #0c98ef; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #efd50c; }
  .navbar-default .navbar-nav li a {
    transition: color 0.3s ease-in-out;
    color: white; }
    .navbar-default .navbar-nav li a:hover {
      color: #efd50c; }
    .navbar-default .navbar-nav li a.is-active {
      background: #0c98ef;
      color: #efd50c; }

.site_title {
  font-family: robotobold, sans-serif;
  font-size: 3em;
  position: absolute;
  left: 15px;
  top: 300px; }
  .site_title a {
    color: white;
    text-decoration: none; }

@media screen and (max-width: 479px) {
  .site_title {
    font-size: 1.8em;
    top: 100px; } }

.cta {
  z-index: 999;
  position: absolute;
  top: 150px;
  right: 15px; }
  .cta .btn {
    background: #efd50c;
    font-family: robotobold, sans-serif;
    font-size: 1.5em;
    padding: 25px;
    border: none; }
  .cta a {
    color: white;
    text-decoration: none; }
    .cta a:hover {
      text-decoration: none;
      color: white;
      filter: brightness(90%);
      transition: all 0.3s ease-in-out; }

@media screen and (max-width: 479px) {
  .cta {
    top: 40px; }
    .cta .btn {
      font-size: 1em;
      padding: 10px; } }

.format-tiles, .tiles, .mask {
  height: 360px;
  width: 100%;
  background: #0a79be; }

.tiles-container {
  margin-top: 50px;
  margin-bottom: 85px; }

.tiles {
  overflow: hidden;
  color: white;
  text-align: center;
  position: relative; }
  .tiles a {
    color: white; }
  .tiles:hover img {
    transform: scale(1.5) translateY(-25px);
    transition: all 0.3s ease-in-out;
    filter: brightness(70%); }
  .tiles:hover .mask {
    background: none; }
  .tiles img {
    width: 100%;
    height: auto; }

.mask {
  transform: translateY(200px);
  position: absolute;
  padding: 0 10px;
  top: 0;
  left: 0; }

@media screen and (max-width: 479px) {
  .tiles {
    margin-bottom: 15px; } }

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 121, 190, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 999; }
  .modal-container .custom-modal {
    position: absolute;
    top: 20%;
    background-color: white;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.4);
    transition: margin 0.2s; }
    .modal-container .custom-modal .close-button {
      position: absolute;
      left: 100%;
      bottom: 100%;
      margin-left: 10px;
      margin-bottom: 10px;
      font-size: 30px;
      cursor: pointer; }
    .modal-container .custom-modal .content-modal {
      padding: 15px; }

.modal-container.modal-open {
  opacity: 1;
  pointer-events: all; }
  .modal-container.modal-open .modal {
    margin-top: -180px; }

.conditions {
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.5s ease; }
  .conditions:hover {
    color: #0a79be; }

@media screen and (max-width: 479px) {
  .conditions {
    margin-bottom: 30px; } }
