// Header page-front en page

.header-container
  position: relative

.header-front
  height: 450px
  color: white
  margin-bottom: 35px

.header-page
  height: 100px
  background: $main-color1-darker
  margin-bottom: 35px

+mQuery(479px)
  .header-front
    height: 200px
  .header-page
    margin-bottom: 5px