// Header
header
  height: 500px
  background: url("../images/materiaal3.jpg") no-repeat
  background-size: cover
  color: white
  margin-top: -50px
  .site_title
    font-family: robotobold sans-serif
    font-size: 3em
    position: absolute
    top: 23%
