<footer class="">
    <div class="container">
        <div class="contact-details">
            Personenvervoer De Dierenvriend | Hasseltsestraat 41 | 3740 Bilzen | Tel : +32 475 548 992
        </div>

    </div>
</footer>