<ul class="nav navbar-nav navbar-right">
    <li class="social-icons">
        <a href="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen/">
            <i class="fa fa-facebook-official"></i>
        </a>
    </li>
</ul>