<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personenvervoer De DIERENVRIEND</title>
    <link rel="stylesheet" href="../../css/styles.css" type="text/css">
    <script src="../../js/facebook.js"></script>
</head>
<body>
<div id="fb-root"></div>
<!--navgation bar-->
<!--todo de menu linken in een container-->

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reserveren</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="social-icons">
                    <a href="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen/">
                    <i class="fa fa-facebook-official"></i>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
<header>
    <div class="container header-container">
        <div class="site_title">
            <span>Personenvervoer De Dierenvriend</span>
        </div>
        <div class="cta">Onmiddellijk reserveren</div>
    </div>
</header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 main-content">
                <h1>Luchthavenvervoer reserveren</h1>
                <form>
                    <fieldset id="klant-gegevens" class="fieldset">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail1">E-mail</label>
                            <div class="input-group">
                                <div class="input-group-addon">E-mail</div>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                    </fieldset>


                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div><!-- end main-content-->
            <div class="col-md-4 sidebar">
                <!--todo facebook naar include-->
                <div class="fb-page" data-href="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen">Luchthaventransport De Dierenvriend</a>
                    </blockquote>
                </div>
            </div>
            <!--end sidebar-->
        </div>
    </div>
<!--end container-->
<footer>
    <div class="container">
        <div class="contact-details">
            Personenvervoer De Dierenvriend | Hasseltsestraat 41 | 3740 Bilzen | Tel : +32 475 548 992
        </div>

    </div>
</footer>


<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../js/collapse.js"></script>
<script src="../../js/jquery.backstretch.min.js"></script>
<script>

    $("header").backstretch([
        "../../images/materiaal3.jpg",
        "../../images/materiaal2.jpg",
        "../../images/materiaal1.jpg"
    ], {
        fade: 750,
        duration: 4000
    });
</script>
</body>
</html>