<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personenvervoer De DIERENVRIEND</title>
    <link rel="stylesheet" href="../../css/styles.css" type="text/css">
    <script src="../../js/facebook.js"></script>
</head>
<body>
<div id="fb-root"></div>
<!--navgation bar-->
<!--todo de menu linken in een container-->

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="form.html">Reserveren</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="social-icons">
                    <a href="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen/">
                    <i class="fa fa-facebook-official"></i>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
    <header>
        <div class="container header-container">
            <div class="site_title">
                <span>Personenvervoer De Dierenvriend</span>
            </div>
            <div class="cta">Onmiddellijk reserveren</div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 main-content">
                <h1>Luchthavenvervoer met extra diensten</h1>
                <p>We rijden altijd exclusief, zodat de voorgestelde uren mooi gerespecteerd worden. We garanderen een
                    stipte service met vertrek over heel Limburg. Voor uw maximaal comfort, rijden we met de nieuwe
                    wagens met capaciteit voor 1 tot 17 personen. Compleet uitgerust met airconditioning, perfecte zit-
                    en beenruimte, beveiligingssystemen en ruime koffers, ook voor uw sportuitrusting.</p>
                    <p>Uw veiligheid is belangrijk voor ons. We beschikken over een VVB vergunning uitgereikt door
                        Stad Bilzen en werken met opgeleide en ervaren chauffeurs. Zo bent u zeker van een rit zonder
                        stress.</p>

                    <p>Als erkend bedrijf voor luchthavenvervoer bieden wij u een unieke service om uw vakantie nog
                        aangenamer te maken en deze nog vroeger te laten beginnen. Wij komen u afhalen aan uw woning
                        om u dan in alle luxe en comfort naar de luchthaven te transporteren. U hoeft dus zelf geen
                        uren meer geconcentreerd in de auto te zitten om veilig op uw vliegtuig te geraken maar kunt
                        rustig relaxen vanaf de eerste minuut in onze wagen</p>

                    <p>Zowel voor transport in binnen- en buitenland kunt u bij ons terecht. Daarnaast bieden wij ook
                        de mogelijkheid voor personenvervoer tot maximum 17 personen. Dit hoeft niet enkel naar de
                        luchthavens te zijn maar ook concerten, stations, zakenreizen en ceremonies behoren tot de
                        mogelijkheden. En wij verzorgen ook uw huisdieren tijdens uw afwezigheid. Tijdens uw reis
                        dient u zich geen zorgen te maken om uw huisdier. Wij nemen de zorg van uw huisdier over.
                        Meer informatie in verband met deze dienst kan u vinden op onze pagina De dierenvriend</p>

                    <p>Voor meer info en prijzen kunt u ons steeds vrijblijvend contacteren. Vul meteen ons
                        <a href="#">contactformulier</a> in of bel ons!</p>

                    <p>Tot binnenkort,<br>
                    Personenvervoer De Dierenvriend</p>
            </div><!-- end main-content-->
            <div class="col-md-4 sidebar">
                <!--todo facebook naar include-->
                <div class="fb-page" data-href="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen">Luchthaventransport De Dierenvriend</a>
                    </blockquote>
                </div>
            </div>
            <!--end sidebar-->
        </div>
    </div>
<!--end container-->

<!--Tiles-->
<div class="container tiles-container">
    <div class="row">
        <div class="col-md-3">
            <div class="tiles pets">
                <img src="../../images/html_images/huisdieren.jpg" alt="">
                <div class="mask">
                    <h2>Huisdieren</h2>
                    <p>De ideale oplossing voor u en uw huisdier</p>
                    <a href="#">Lees verder</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="tiles reserve">
                <img src="../../images/html_images/reserveren.jpg" alt="">
                <div class="mask">
                    <h2>Reserveren</h2>
                    <p>Wij bieden u een stipte exclusieve service.</p>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="tiles rates">
                <div class="mask">
                    <h2>Tarieven</h2>
                    <p>Tarieven en nog wat uitleg hierover</p>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="tiles news">
                <div class="mask">
                    <h2>Nieuws</h2>
                    <p>Eerste regel van het laatat toegevoegd nieuwsbericht</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="">
    <div class="container">
        <div class="contact-details">
            Personenvervoer De Dierenvriend | Hasseltsestraat 41 | 3740 Bilzen | Tel : +32 475 548 992
        </div>

    </div>
</footer>


<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../js/collapse.js"></script>
<script src="../../js/jquery.backstretch.min.js"></script>
<script>

    $("header").backstretch([
        "../../images/materiaal3.jpg",
        "../../images/materiaal2.jpg",
        "../../images/materiaal1.jpg"
    ], {
        fade: 750,
        duration: 4000
    });
</script>
</body>
</html>