<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personenvervoer De DIERENVRIEND</title>
    <link rel="stylesheet" href="../../css/styles.css" type="text/css">
    <script src="../../js/facebook.js"></script>
</head>
<body>
<div id="fb-root"></div>
<!--navgation bar-->
<!--todo de menu linken in een container-->

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
    <header>
        <div class="container">
            <div class="site_title">
                <span>Personenvervoer De Dierenvriend</span>
            </div>
        </div>

    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>Content</p>
            </div>
            <div class="col-md-4">
                <!--todo facebook naar include-->
                <div class="fb-page" data-href="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen">Luchthaventransport De Dierenvriend</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>


<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../js/collapse.js"></script>
</body>
</html>