<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personenvervoer De DIERENVRIEND</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <script src="../../js/facebook.js"></script>
</head>
<body>
<div id="fb-root"></di>
    
    <div class="fb-page" data-href="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen">Luchthaventransport De Dierenvriend</a></blockquote></div>

<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../js/collqpse.js"></script>
</body>
</html>