// Site |Branding bij ned. wordt dit vertaald naar de Title van de site
// in dit geval dus Persondenvervoer de Dierenvriend
.site_title
  font-weight: 700
  font-size: 3em
  position: absolute
  left: 15px
  top: 15px
  a
    color: white
    text-decoration: none

.header-front
  .site_title
    top: 300px


+mQuery(479px)
  .header-front
    .site_title
      font-size: 1.8em
      top: 50px
  .header-page
    .site_title
      font-size: 1.6em
