// Tiles
// was =format-tiles (dus een mixin) omgezet naar een extend .format-tiles
// geeft kortere css code bron: https://roy.io/should-you-use-a-sass-mixin-or-extend/

.format-tiles
  height: 360px
  width: 100%
  background: $main-color1-darker

.tiles-container
  margin-top: 50px
  margin-bottom: 85px
.tiles
  @extend .format-tiles
  overflow: hidden
  color: white
  text-align: center
  position: relative
  a
    color: white
  &:hover
    img
      transform: scale(1.5) translateY(-25px)
      transition: all 0.3s ease-in-out
      filter: brightness(70%)
    .mask
      background: none
  img
    width: 100%
    height: auto
.mask
  @extend .format-tiles
  transform: translateY(200px)
  position: absolute
  padding: 0 10px
  top: 0
  left: 0
