// Forms
// input.html.twig - select.html.twig - form-element-label.html.twig

// Form components
.form_input-extend
  border: 1px solid $main-color1-darker
  border-radius: 0

.main-content
  .form-input
    padding: 5px
    width: 500px
    display: inline-block
    @extend .form_input-extend


// contact form in de footer
.footer_contact_form-wrap
  .control-label
    width: 120px
  .form-item
    .form-input
      width: 200px
  .form-submit
    border: solid 1px white
    padding: 5px 20px

.form-number
  width: 300px
  @extend .form_input-extend

.form-select
  @extend .form_input-extend
  padding: 4px

.form-item
  width: 100%

.form_label-extend
  background: $main-color1-darker
  color: white

.form-submit
  @extend .form_label-extend
  transition: color 0.5s ease
  &:hover
    color: $main-color2

.control-label
  @extend .form_label-extend
  padding: 6px
  font-family: robotolight, sans-serif
  font-weight: normal
  display: inline-block
  float: left
  width: 170px


// Class wide-option ingesteld in de UI van het field option adres = gegevens klant
// bij het onderdeel 'Wrapper-attributen
// dit om het een afwijkende breedte mee te geven tov 'soort transport'
// idem voor algemene voorwaarden gelezen
.wide-option
  .option
    width: 500px

.input-radio, .input-checkbox
  width: 45px
  display: inline-block
  float: left
  margin: 10px 0 0!important
  cursor: pointer

+mQuery(479px)
  .control-label
    padding: 7px
    font-size: 0.85em
    width: 120px
  .main-content
    .form-input
      width: 220px
  .wide-option
    .option
      width: 300px

+mQuery(361px)
  .main-content
    .form-input
      width: 200px
  .wide-option
    .option
      width: 270px

+mQuery(321px)
  .main-content
    .form-input
      width: 160px
  .wide-option
    .option
      width: 230px
  .input-radio
    width: 30px
  .option
    width: 100px
