// Nieuws pagina en tile op homepagina

.news-wrap
  border-bottom: 1px solid $main-color1-darker
  padding-bottom: 10px
  background: white
  min-height: 400px
  margin-bottom: 25px
  .news-title
    padding: 5px 10px
  img
    width: 100%
    height: auto
    max-height: 200px
  .news-body
    padding: 5px 10px