// Nieuws pagina en tile op homepagina

.news-wrap-extend
  border-bottom: 1px solid $main-color1-darker
  padding-bottom: 10px
  background: white
  margin-bottom: 25px

.news-full-wrap
  @extend .news-wrap-extend
  .news-body
    padding: 15px 10px
.news-wrap
  @extend .news-wrap-extend
  min-height: 400px
  .news-title
    padding: 5px 10px
  .img-super-teaser
    img
      width: 100%
      height: auto
      max-height: 200px
  .news-body
    padding: 5px 10px
